body {
    font-family: 'Arial', sans-serif;
    background-color: #222;
    color: white;
  }

#search-container {
    text-align: center;
    margin: 20px;
}

#search-input {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#recipes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#recipe-card {
    max-width: 800px;
    width: 100%;
    background: black;
    color: white;
    margin-bottom: 15px;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
}

#recipe-card img {
    width: 100%;
    max-height: 150px; 
    object-fit: cover;
    border-radius: 10px;
}


#recipe-body {
    padding: 10px;
}

#recipe-title {
    font-size: 20px;
    font-weight: bold;
}

#recipe-text {
    font-size: 16px;
    margin-bottom: 10px;
}
/* Alap stílus mindhárom gombhoz */
#expand-button, #info-button, #save-button {
    display: inline-block;
    padding: 12px 25px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    background-color: white; /* Fehér háttér */
    color: black; /* Fekete szöveg */
    border: 2px solid black; /* Fekete szegély */
    border-radius: 30px; /* Kerekített sarkak */
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Finom árnyék */
  }
  
  #expand-button:hover, #info-button:hover, #save-button:hover {
    background-color: black; /* Fekete háttér hover esetén */
    color: white; /* Fehér szöveg hover esetén */
    border-color: white; /* Fehér szegély */
    transform: translateY(-3px); /* Kicsit felugrik a gomb */
  }
  
  #expand-button:active, #info-button:active, #save-button:active {
    background-color: black; /* Fekete háttér, amikor rákattintanak */
    color: white; /* Fehér szöveg */
    border-color: white; /* Fehér szegély */
    transform: translateY(1px); /* Kicsit lejjebb megy kattintáskor */
  }
  
  

  
 
  


#info-table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
    background: #222;
}

#info-table th, #info-table td {
    border: 1px solid #fff;
    padding: 8px;
    text-align: left;
}

#about-section {
    text-align: center;
    margin: 20px;
    font-size: 24px;
    font-weight: bold;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    #search-container {
        width: 90%;
        margin: 0 auto;
    }

    #recipe-card {
        width: 90%;
    }
}

