body {
    font-family: 'Arial', sans-serif;
    background-color: #222;
    color: white;
  }

#search-container {
    text-align: center;
    margin: 20px;
}

#search-input {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#recipes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#recipe-card {
    max-width: 800px;
    width: 100%;
    background: #333;
    color: white;
    margin-bottom: 15px;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
}

#recipe-card img {
    width: 100%;
    max-height: 150px; 
    object-fit: cover;
    border-radius: 10px;
}


#recipe-body {
    padding: 10px;
}

#recipe-title {
    font-size: 20px;
    font-weight: bold;
}

#recipe-text {
    font-size: 16px;
    margin-bottom: 10px;
}

#expand-button, #info-button {
    margin: 5px;
    width: auto;
    height: 50px;
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 3px;
    color: #fff;
    background: #000;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    padding: 12px 20px;
    text-align:center;
    transition-duration: .15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    :hover{
        color: #000;
        background: rgb(255, 218, 87);
    }
    
}

#expand-button:hover, #info-button:hover {
    color: #ffcc00;
}

#info-table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
    background: #222;
}

#info-table th, #info-table td {
    border: 1px solid #fff;
    padding: 8px;
    text-align: left;
}

#about-section {
    text-align: center;
    margin: 20px;
    font-size: 24px;
    font-weight: bold;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    #search-container {
        width: 90%;
        margin: 0 auto;
    }

    #recipe-card {
        width: 90%;
    }
}
