/* Admin Page Styling */
#admin-container {
    padding: 20px;
  }
  
  #admin-search-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #admin-search-input {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  #admin-recipes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  #admin-recipe-card {
    width: 300px;
    background: #333;
    color: white;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: relative;
  }
  
  #admin-recipe-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  #admin-recipe-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  #admin-recipe-text {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  #admin-expand-button,
  #admin-info-button,
  #admin-delete-button {
    background-color: #FF5722; /* Red color for delete button */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
  }
  
  #admin-info-table-wrapper {
    overflow-x: auto;
    max-width: 100%;
  }
  
  #admin-info-table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
    background-color: #333;
    color: white;
  }
  
  #admin-info-table th,
  #admin-info-table td {
    border: 1px solid #fff;
    padding: 8px;
    text-align: left;
  }
  
  #admin-info-table th {
    font-weight: bold;
    background-color: #444;
  }
  
  #admin-info-table td {
    background-color: #555;
  }
  
  /* Switch (Toggle Button) Styling */
  #admin-recipe-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 50px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    border-radius: 50px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
  }
  
  input:checked + .slider {
    background-color: #4CAF50; /* Green when active */
  }
  
  input:checked + .slider:before {
    transform: translateX(25px); /* Move the circle to the right */
  }
  
  input:not(:checked) + .slider {
    background-color: #FF5722; /* Red when inactive */
  }
  
  /* Media Query for Responsiveness */
  @media (max-width: 768px) {
    #admin-recipe-card {
      width: 100%;
    }
  }
  