.home-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
  background: linear-gradient(to bottom right, #003300, #006600, #00cc66);
  min-height: 100vh;
  color: red;
}

.home-recipesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.home-recipeCard {
  background: linear-gradient(145deg, #114422, #081f0e);
  color: white;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0, 255, 100, 0.3);
  max-width: 400px;
  width: 100%;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.home-recipeCard:hover {
  transform: scale(1.03);
}

.home-recipeImage {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.home-recipeBody {
  padding: 20px;
}

.home-recipeTitle {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.home-recipeText {
  font-size: 16px;
  margin-bottom: 10px;
}

.home-button {
  background: white;
  color: black;
  font-weight: bold;
  padding: 12px 20px;
  margin: 6px 8px 6px 0;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
  transition: background 0.3s ease, transform 0.2s ease;
}

.home-button:hover {
  background: #ffffcc;
  transform: scale(1.05);
  animation: home-pulse 2s infinite;
}

@keyframes home-pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.home-infoBox p {
  color: #eee;
  margin: 8px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.home-ingredientsWrapper {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.home-ingredientRow {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #555;
}

.home-ingredientName {
  font-weight: bold;
  color: #fff;
  font-size: 14px;
}

.home-ingredientName {
  font-weight: bold;
  color: #fff;
  font-size: 14px;
}

.home-search-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
}

.home-search-input {
  width: 300px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.home-search-icon {
  font-size: 20px;
  margin-left: 8px;
  cursor: pointer;
}

/* Mobil nézet */
@media (max-width: 768px) {
  .home-search-container {
    justify-content: center;
  }

  .home-search-input {
    width: 80%;
  }
}
