.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 20px;
  background: linear-gradient(to bottom right, #003300, #006600, #00cc66);
  min-height: 100vh;
  color: black;
}

.title {
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
}

.label {
  font-size: 18px;
  font-weight: bold;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  background-color: #f9f9f9;
  margin-bottom: 15px;
}

.input[type="file"] {
  padding: 8px;
}

.button {
  background: #28a745;
  color: white;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease, transform 0.2s ease;
}

.button:hover {
  background: #218838;
  transform: scale(1.05);
}

.ingredientSection {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.removeIngredientButton {
  background: #dc3545;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

.removeIngredientButton:hover {
  background: #c82333;
  transform: scale(1.05);
}

.addIngredientButton {
  background: #007bff;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  margin-top: 10px;
}

.addIngredientButton:hover {
  background: #0056b3;
  transform: scale(1.05);
}

.selectWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.imageWrapper img {
  max-width: 100%;
  border-radius: 16px;
}

.select {
  margin-bottom: 15px;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
}

.search-input {
  width: 300px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.search-icon {
  font-size: 20px;
  margin-left: 8px;
  cursor: pointer;
}

/* Mobil nézet */
@media (max-width: 768px) {
  .search-container {
    justify-content: center;
  }

  .search-input {
    width: 80%;
  }

  .form {
    padding: 15px;
  }

  .ingredientSection {
    flex-direction: column;
    align-items: flex-start;
  }
}
